Repository GoormOnlyOne/OnlyOne-Back, pull requests merged in 2025-08, with the labels that each got.

#63 [feat] 알림 조회(무한 스크롤), 삭제, sse 스트림 연결 및 전송
  .DS_Store
  src/.DS_Store
  src/main/.DS_Store
  src/main/java/.DS_Store
  src/main/java/com/.DS_Store
  src/main/java/com/example/.DS_Store
  src/main/java/com/example/onlyone/.DS_Store
  src/main/java/com/example/onlyone/OnlyoneApplication.java
  src/main/java/com/example/onlyone/domain/.DS_Store
  src/main/java/com/example/onlyone/domain/notification/controller/NotificationController.java
  src/main/java/com/example/onlyone/domain/notification/dto/NotificationListItem.java
  src/main/java/com/example/onlyone/domain/notification/dto/NotificationListRequestDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/NotificationRequestDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/NotificationResponseDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/SseNotificationDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/requestDto/NotificationCreateRequestDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/requestDto/NotificationItemDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/requestDto/NotificationListItem.java
  src/main/java/com/example/onlyone/domain/notification/dto/requestDto/NotificationListRequestDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/requestDto/NotificationReadRequestDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/responseDto/NotificationCreateResponseDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/responseDto/NotificationListResponseDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/responseDto/NotificationReadResponseDto.java
  src/main/java/com/example/onlyone/domain/notification/entity/Notification.java
  src/main/java/com/example/onlyone/domain/notification/entity/NotificationCreatedEvent.java
  src/main/java/com/example/onlyone/domain/notification/entity/NotificationType.java
  src/main/java/com/example/onlyone/domain/notification/entity/Type.java
  src/main/java/com/example/onlyone/domain/notification/event/NotificationCreatedEvent.java
  src/main/java/com/example/onlyone/domain/notification/event/NotificationEventListener.java
  src/main/java/com/example/onlyone/domain/notification/event/NotificationReadEvent.java
  src/main/java/com/example/onlyone/domain/notification/repository/NotificationRepository.java
  src/main/java/com/example/onlyone/domain/notification/repository/NotificationTypeRepository.java
  src/main/java/com/example/onlyone/domain/notification/service/NotificationService.java
  src/main/java/com/example/onlyone/global/exception/ErrorCode.java
  src/test/java/com/example/onlyone/domain/notification/controller/NotificationControllerTest.java
  src/test/java/com/example/onlyone/domain/notification/event/NotificationEventListenerTest.java
  src/test/java/com/example/onlyone/domain/notification/service/NotificationGetTest.java
  src/test/java/com/example/onlyone/domain/notification/service/NotificationServiceTest.java
Labels: Notification

#67 [feat] 토스페이먼츠 결제 API 연결
  build.gradle
  src/main/java/com/example/onlyone/OnlyoneApplication.java
  src/main/java/com/example/onlyone/domain/chat/repository/ChatRoomRepository.java
  src/main/java/com/example/onlyone/domain/payment/controller/PaymentController.java
  src/main/java/com/example/onlyone/domain/payment/dto/request/CancelTossPayRequest.java
  src/main/java/com/example/onlyone/domain/payment/dto/request/ConfirmTossPayRequest.java
  src/main/java/com/example/onlyone/domain/payment/dto/request/SavePaymentRequestDto.java
  src/main/java/com/example/onlyone/domain/payment/dto/response/CancelTossPayResponse.java
  src/main/java/com/example/onlyone/domain/payment/dto/response/ConfirmTossPayResponse.java
  src/main/java/com/example/onlyone/domain/payment/entity/Method.java
  src/main/java/com/example/onlyone/domain/payment/entity/Status.java
  src/main/java/com/example/onlyone/domain/payment/repository/PaymentRepository.java
  src/main/java/com/example/onlyone/domain/payment/service/PaymentService.java
  src/main/java/com/example/onlyone/domain/schedule/repository/UserScheduleRepository.java
  src/main/java/com/example/onlyone/domain/user/repository/UserRepository.java
  src/main/java/com/example/onlyone/global/config/TossFeignConfig.java
  src/main/java/com/example/onlyone/global/exception/ErrorCode.java
  src/main/java/com/example/onlyone/global/feign/TossPaymentClient.java
  src/main/resources/application-prod.yml
Labels: Wallet

#72 [deploy] Redis 설정 사항 반영
  build.gradle
  src/main/java/com/example/onlyone/domain/payment/service/PaymentService.java
  src/main/java/com/example/onlyone/global/config/RedisConfig.java
  src/main/java/com/example/onlyone/global/config/SecurityConfig.java
Labels: Deploy

#79 [feat] 현재 사용자 조회 로직 추가
  src/main/java/com/example/onlyone/domain/schedule/service/ScheduleService.java
  src/main/java/com/example/onlyone/domain/settlement/service/SettlementService.java
  src/main/java/com/example/onlyone/domain/user/service/UserService.java
  src/main/java/com/example/onlyone/global/config/SecurityConfig.java
  src/main/java/com/example/onlyone/global/exception/ErrorCode.java
  src/main/java/com/example/onlyone/global/filter/JwtAuthenticationFilter.java
Labels: User

#81 [feat] 카카오 로그인 응답 수정 / 거래 내역 조회 API 오류 수정
  .gitignore
  src/main/java/com/example/onlyone/domain/user/controller/AuthController.java
  src/main/java/com/example/onlyone/domain/user/dto/response/LoginResponse.java
  src/main/java/com/example/onlyone/domain/wallet/controller/WalletController.java
  src/main/java/com/example/onlyone/domain/wallet/dto/response/UserWalletTransactionDto.java
  src/main/java/com/example/onlyone/global/config/SwaggerConfig.java
Labels: User, Wallet

#84 [feat] Login response dto 추가
  src/main/java/com/example/onlyone/domain/user/controller/AuthController.java
  src/main/java/com/example/onlyone/domain/user/dto/response/LoginResponse.java
  src/main/java/com/example/onlyone/domain/user/service/UserService.java
Labels: User

#92 [fix] 카카오 로그인 / 정기 모임 / 정산 관련 로직 및 응답 수정
  .github/workflows/github-actions.yml
  Dockerfile
  src/main/java/com/example/onlyone/domain/chat/repository/ChatRoomRepository.java
  src/main/java/com/example/onlyone/domain/club/controller/ClubController.java
  src/main/java/com/example/onlyone/domain/club/dto/response/ClubCreateResponseDto.java
  src/main/java/com/example/onlyone/domain/club/dto/response/ClubDetailResponseDto.java
  src/main/java/com/example/onlyone/domain/club/service/ClubService.java
  src/main/java/com/example/onlyone/domain/schedule/controller/ScheduleController.java
  src/main/java/com/example/onlyone/domain/schedule/dto/response/ScheduleDetailResponseDto.java
  src/main/java/com/example/onlyone/domain/schedule/service/ScheduleService.java
  src/main/java/com/example/onlyone/domain/settlement/service/SettlementService.java
  src/main/java/com/example/onlyone/domain/user/controller/AuthController.java
Labels: User, Schedule, Wallet

#95 [deploy] FCM 토큰 유효성, 의존성 문제 수정
  src/main/java/com/example/onlyone/domain/notification/controller/NotificationController.java
  src/main/java/com/example/onlyone/domain/notification/dto/responseDto/NotificationCreateResponseDto.java
  src/main/java/com/example/onlyone/domain/notification/dto/responseDto/SseNotificationDto.java
  src/main/java/com/example/onlyone/domain/notification/entity/AppNotification.java
  src/main/java/com/example/onlyone/domain/notification/event/NotificationCreatedEvent.java
  src/main/java/com/example/onlyone/domain/notification/event/NotificationEventListener.java
  src/main/java/com/example/onlyone/domain/notification/event/NotificationReadEvent.java
  src/main/java/com/example/onlyone/domain/notification/repository/NotificationRepository.java
  src/main/java/com/example/onlyone/domain/notification/service/FcmService.java
  src/main/java/com/example/onlyone/domain/notification/service/NotificationService.java
  src/main/java/com/example/onlyone/domain/notification/service/SseEmittersService.java
  src/main/java/com/example/onlyone/domain/user/entity/User.java
  src/main/java/com/example/onlyone/global/config/FirebaseConfig.java
  src/test/java/com/example/onlyone/domain/notification/controller/AppNotificationControllerTest.java
  src/test/java/com/example/onlyone/domain/notification/event/AppNotificationEventListenerTest.java
  src/test/java/com/example/onlyone/domain/notification/repository/AppNotificationTypeRepositoryTest.java
  src/test/java/com/example/onlyone/domain/notification/service/AppNotificationQueryTest.java
  src/test/java/com/example/onlyone/domain/notification/service/AppNotificationServiceTest.java
  src/test/java/com/example/onlyone/domain/notification/service/FcmServiceTest.java
  src/test/java/com/example/onlyone/domain/notification/service/SseEmittersServiceTest.java
Labels: Deploy

#99 [feat] 회원가입 API 구현
  src/main/java/com/example/onlyone/domain/interest/entity/Interest.java
  src/main/java/com/example/onlyone/domain/user/controller/AuthController.java
  src/main/java/com/example/onlyone/domain/user/dto/request/SignupRequestDto.java
  src/main/java/com/example/onlyone/domain/user/dto/response/MyPageResponse.java
  src/main/java/com/example/onlyone/domain/user/entity/User.java
  src/main/java/com/example/onlyone/domain/user/entity/UserInterest.java
  src/main/java/com/example/onlyone/domain/user/service/KakaoService.java
  src/main/java/com/example/onlyone/domain/user/service/UserService.java
  src/main/java/com/example/onlyone/domain/wallet/entity/Wallet.java
Labels: User

#102 [feat] 모임 삭제 API 구현
  src/main/java/com/example/onlyone/domain/club/controller/ClubController.java
  src/main/java/com/example/onlyone/domain/feed/controller/FeedController.java
  src/main/java/com/example/onlyone/domain/feed/controller/FeedMainController.java
  src/main/java/com/example/onlyone/domain/feed/entity/Feed.java
  src/main/java/com/example/onlyone/domain/feed/service/FeedMainService.java
  src/main/java/com/example/onlyone/domain/feed/service/FeedService.java
Labels: Feed

#116 [feat] 정산 요청 목록 API 구현 / 내 모임 목록 조회 API 정렬 추가
  src/main/java/com/example/onlyone/domain/club/repository/UserClubRepository.java
  src/main/java/com/example/onlyone/domain/settlement/controller/SettlementController.java
  src/main/java/com/example/onlyone/domain/settlement/dto/response/UserSettlementDto.java
  src/main/java/com/example/onlyone/domain/settlement/repository/UserSettlementRepository.java
  src/main/java/com/example/onlyone/domain/settlement/service/SettlementService.java
Labels: Wallet

#117 [feat] 피드 / 정산 관련 수정사항 반영
  src/main/java/com/example/onlyone/domain/club/repository/UserClubRepository.java
  src/main/java/com/example/onlyone/domain/feed/controller/FeedMainController.java
  src/main/java/com/example/onlyone/domain/feed/dto/response/FeedOverviewDto.java
  src/main/java/com/example/onlyone/domain/feed/repository/FeedCommentRepository.java
  src/main/java/com/example/onlyone/domain/feed/service/FeedMainService.java
  src/main/java/com/example/onlyone/domain/feed/service/FeedService.java
  src/main/java/com/example/onlyone/domain/settlement/controller/SettlementController.java
  src/main/java/com/example/onlyone/domain/settlement/dto/response/UserSettlementDto.java
  src/main/java/com/example/onlyone/domain/settlement/repository/UserSettlementRepository.java
  src/main/java/com/example/onlyone/domain/settlement/service/SettlementService.java
Labels: Deploy
